.Page-Home {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Page-Home-buttons {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    /*To center the div*/
    left: 0; 
    right: 0; 
}