.Page-Contacts-Component-Prop {
    display: flex;
    align-items: center;
}

.Page-Contacts-Component-Prop-icon {
    color: white;
    margin-right: 4px;
}

.Page-Contacts-Component-Prop-title {
    font-size: 1.125em;
    font-weight: 800;
    color: white;
    text-decoration: underline;
}

.Page-Contacts-Component-Prop-value {
    margin-left: 5px;
    font-weight: 400;
    color: white;
    user-select: all;
}